{% extends "base.html" %}

{% block title %}
    Brokerio registracijos forma - Draudiklis.lt
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Brokerio registracijos forma</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Užsiregistruoti!</button>
    </form>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}
