{% extends "base.html" %}

{% block title %}
    Kontaktai - Draudiklis.lt
{% endblock %}

{% block content %}
<div class="container">
    <h1>Kontaktai</h1>
    <div class="contact-section">
        <h2>Mūsų Kontaktai</h2>
        <p>Jei turite klausimų ar reikia pagalbos, susisiekite su mumis:</p>
        <ul>
            <li>El. paštas: info@draudiklis.lt</li>
            <li>Telefonas: +370 600 00000</li>
            <li>Adresas: Vilniaus g. 1, Vilnius, Lietuva</li>
        </ul>
    </div>
</div>
{% endblock %}
