{% extends "base.html" %}
{% block title %}
    Skaičiuoti Kainą
{% endblock %}
{% block content %}
<div class="container">
    <h1>Skaičiuoti Kainą</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.country.label_tag }}<br>
            <select name="{{ form.country.name }}" id="id_country" class="form-control">
                {% for choice in form.country.field.queryset %}
                    <option value="{{ choice.pk }}"
                        {% if choice.pk == form.initial.country.pk %}selected{% endif %}
                        data-risk="{{ choice.map_risk }}" data-link="{{ choice.link }}">{{ choice.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div id="risk-level" class="form-group" style="padding: 10px;">
            <!-- This will be updated dynamically based on the selected country -->
        </div>
        <div id="country-link" class="form-group" style="padding: 10px;">
            <!-- This will be updated dynamically based on the selected country -->
        </div>
        <div class="form-group">
            {{ form.travel_mode.label_tag }}<br>
            {{ form.travel_mode }}
        </div>
        <div class="form-group">
            {{ form.trip_duration.label_tag }}<br>
            {{ form.trip_duration }}
        </div>
        <div class="form-group">
            <h3>Medicininės išlaidos</h3>
            {{ form.cover3 }}
        </div>
        <div class="form-group">
            <h3>Papildomi produktai:</h3>
            <label>
                {{ form.cover1 }} {{ form.cover1.label_tag }}
            </label><br>
            <label>
                {{ form.cover2 }} {{ form.cover2.label_tag }}
            </label>
        </div>
        <div class="form-group">
            {{ form.iskaita.label_tag }}<br>
            {{ form.iskaita }}
        </div>
        {{ form.paslaugos }}  <!-- Ensure this hidden field is included in the form -->
        <input type="hidden" name="paslaugos" value="{{ form.fields.paslaugos.initial }}">  <!-- Manually add hidden input -->
        <button type="submit">Skaičiuoti</button>
    </form>

    {% if total_cost %}
        <div>
            <h2>Preliminari kaina: {{ total_cost }} EUR</h2>
        </div>
    {% endif %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var countryField = document.querySelector('[name="country"]');
        var riskLevelDiv = document.getElementById('risk-level');
        var countryLinkDiv = document.getElementById('country-link');
        var countryRisks = {
            'low': { color: 'green', text: 'Žemas' },
            'medium': { color: 'yellow', text: 'Vidutinis' },
            'high': { color: 'orange', text: 'Aukštas' },
            'very high': { color: 'red', text: 'Labai aukštas' },
            'extreme': { color: 'black', text: 'Ekstremalus' }
        };

        function updateRiskLevel() {
            var selectedOption = countryField.options[countryField.selectedIndex];
            var riskLevel = selectedOption.getAttribute('data-risk').toLowerCase().replace(' ', '_');
            var countryLink = selectedOption.getAttribute('data-link');

            if (riskLevel && countryRisks[riskLevel]) {
                var riskText = countryRisks[riskLevel].text;
                var riskColor = countryRisks[riskLevel].color;

                riskLevelDiv.innerHTML = `Rizikos lygis: <span style="border-bottom: 2px solid ${riskColor};">${riskText}</span>`;
                countryLinkDiv.innerHTML = `<a href="${countryLink}" target="_blank">Užsienio reikalų ministerijos informacija apie šalį</a>`;
            } else {
                riskLevelDiv.innerHTML = '';
                countryLinkDiv.innerHTML = '';
            }
        }

        countryField.addEventListener('change', updateRiskLevel);
        updateRiskLevel();  // Initial call to set the risk level based on the default selection
    });
</script>
{% endblock %}
