{% extends "base.html" %}

{% block title %}
    Edit Profile - Draudiklis.lt
{% endblock %}

{% block content %}
<div style="margin: 20px auto; width: 80%; max-width: 800px;">
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
        <h1>{{ profile.user.username }} Profilis</h1>
        <a href="{% url 'profile' %}" style="font-size: 16px; text-decoration: none; color: #007bff;">Atgal į profilį</a>
    </div>

    <div style="display: flex; align-items: flex-start; justify-content: space-between; margin-bottom: 20px;">
        <form method="post" enctype="multipart/form-data" style="width: 40%;">
            {% csrf_token %}
            <div style="margin-bottom: 10px;">
                <label for="username">Vartotojo vardas:</label>
                <input type="text" name="username" value="{{ profile.user.username }}" style="font-size: 24px; width: 100%; padding: 5px; border-radius: 8px; border: 1px solid #ccc; margin-bottom: 10px;">
            </div>
            {{ form.as_p }}
            <button type="submit" style="background-color: #007bff; color: white; padding: 10px 20px; border: none; border-radius: 5px;">Išsaugoti pakeitimus</button>
<!--            <button type="button" onclick="document.getElementById('file-input').click();" style="background-color: #007bff; color: white; padding: 10px 20px; border: none; border-radius: 5px; margin-left: 10px;">Pakeisti nuotrauka</button>-->
<!--            <input type="file" id="file-input" name="picture" style="display: none;" onchange="this.form.submit();">-->
        </form>

        <div style="margin-left: 20px;">
            <img src="{{ profile.picture.url }}" alt="Profile Picture" style="width: 250px; height: 250px; border-radius: 50%;">
        </div>
    </div>

    <a href="{% url 'update_klientas' %}" style="background-color: #007bff; color: white; padding: 10px 20px; border: none; border-radius: 5px; text-decoration: none;">Papildyti kliento duomenis</a>

</div>
{% endblock %}
