{% extends "base.html" %}

{% block title %}
    Profilis - Draudiklis.lt
{% endblock %}

{% block content %}
<div style="margin: 20px auto; width: 80%; max-width: 800px;">
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
        <h1>{{ profile.user.username }} Profilis</h1>
        <a href="{% url 'profile_view' %}" style="font-size: 16px; text-decoration: none; color: #007bff;">Redaguoti profilį</a>
    </div>

    <div style="display: flex; align-items: center; margin-bottom: 20px;">
        <img src="{{ user_profile_picture }}" alt="Profile Picture" style="width: 150px; height: 150px; border-radius: 50%; margin-right: 20px;">
    </div>

    <h2>Jūsų sudarytos sutartys</h2>
    <table style="width: 100%; border-collapse: collapse; margin-top: 10px;">
        <thead>
            <tr style="background-color: #f8f9fa;">
                <th style="padding: 10px; border: 1px solid #dee2e6;">Brokeris</th>
                <th style="padding: 10px; border: 1px solid #dee2e6;">Paslaugos</th>
                <th style="padding: 10px; border: 1px solid #dee2e6;">Pradžios data</th>
                <th style="padding: 10px; border: 1px solid #dee2e6;">Pabaigos data</th>
                <th style="padding: 10px; border: 1px solid #dee2e6;">Draudimo suma</th>
                <th style="padding: 10px; border: 1px solid #dee2e6;">Įskaita</th>
                <th style="padding: 10px; border: 1px solid #dee2e6;">Apsauga</th>
            </tr>
        </thead>
        <tbody>
            {% for contract in contracts %}
            <tr>
                <td style="padding: 10px; border: 1px solid #dee2e6;">{{ contract.brokeriai }}</td>
                <td style="padding: 10px; border: 1px solid #dee2e6;">{{ contract.paslaugos }}</td>
                <td style="padding: 10px; border: 1px solid #dee2e6;">{{ contract.pradzios_data }}</td>
                <td style="padding: 10px; border: 1px solid #dee2e6;">{{ contract.pabaigos_data }}</td>
                <td style="padding: 10px; border: 1px solid #dee2e6;">{{ contract.draudimo_suma }}</td>
                <td style="padding: 10px; border: 1px solid #dee2e6;">{{ contract.iskaita }}</td>
                <td style="padding: 10px; border: 1px solid #dee2e6;">{{ contract.apsauga }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7" style="padding: 10px; border: 1px solid #dee2e6; text-align: center;">No contracts found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
