{% extends 'base.html' %}

{% block title %}Registruoti sutartį - Draudiklis.lt{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Registruoti sutartį</h1>

    <!-- Form for registering a client -->
    <form method="post">
        {% csrf_token %}
        <div class="card mb-3">
            <div class="card-header">
                <h2>Kliento informacija</h2>
            </div>
            <div class="card-body">
                {{ klientai_form.as_p }}
            </div>
            <button type="submit" name="register_client" class="btn btn-primary">Registruoti klientą</button>
        </div>
    </form>


    <!-- Form for registering a policy -->
    <form method="post">
        {% csrf_token %}
        <div class="card mb-3">
            <div class="card-header">
                <h2>Poliso informacija</h2>
            </div>
            <div class="card-body">
                {{ polisai_form.as_p }}
            </div>
            <button type="submit" name="register_policy" class="btn btn-primary">Registruoti polisą</button>
        </div>
    </form>
</div>
{% endblock %}
